@import "../../globals";

@mixin buttonColor($color) {
	background-color: $color;

	&:active {
		background-color: adjust_color($color, $lightness: 30%);
	}
}

.Button {
	border: none;
	outline: none;
	transition: background-color 100ms linear;
	text-transform: uppercase;
	color: $text;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 2.0em;
	-webkit-tap-highlight-color: transparent;

	@include buttonColor($control);

	&.attacker {
		@include buttonColor($attacker);
	}

	&.defender {
		@include buttonColor($defender);
	}

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	> * {
		display: inline-block;
		max-height: 100%;
	}

	div {
		width: 32px;
		margin-right: 0.5em;
	}

	svg {
		fill: $text;
	}

	&.icon_only {
		flex: 0 0 52px;

		div {
			margin-right: 0;
		}
	}
}