.Settings {

	> div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-evenly;

		img {
			width: 64px;
		}

		button {
			background: none rgba(255, 255, 255, .0);
			border: none;
			border-radius: 8px;
			padding: 8px;
			transition: background-color 150ms linear;
			-webkit-tap-highlight-color: transparent;

			> * {
				transform: scale(1);
				filter: grayscale(0) brightness(1);

				transition-property: transform, filter;
				transition-duration: 150ms;
				transition-timing-function: linear;
			}

			&.unchecked > * {
				transform: scale(0.75);
				filter: grayscale(1) brightness(0.75);
			}

			&:focus, &:active{
				background-color: rgba(255, 255, 255, .24);
			}
		}
	}

}